 <style>

  img.img-as {
      height: 36px;
      width: 36px;
      margin: 10px 10px 5px 10px;
      border-radius: 50%;
      float: left;
     }

</style>

<article class="post">
  <section class="post-head">
    <div class="img-as">
      <%= image_tag post.user.avatar.url(:large), class: 'img-as' if post.user.avatar? %>  
    </div>
    <p>Created by: <%= post.user.username  %></p>
    <h2><%= link_to post.title, post_path(post) %></h2>
    <small class="sml">
      <time><%= post.created_at.to_date.strftime("%d %B, %Y") %></time>
      <% if post.category.present? %>
          |
        <%= link_to post.category.name, post.category %>
      <% end %>
      <% if user_signed_in? && (current_user != nil and current_user.id == post.user_id  || current_user.admin?) %>
        |
        <%= link_to t('.editctshow'), edit_post_path(post) %>
        |
        <%= link_to t('.deletectshow'), post_path(post), method: :delete, data: {confirm: 'Ви впевнені?'} %>
      <% else user_signed_in? && (current_user != nil and current_user.id == post.user_id  || current_user.moderator?) %>
        |
        <%= link_to t('.editctshow'), edit_post_path(post) %>  
      <% end %>
    </small>
  </section>

  <section class="post-summary clearfix">
    <%= post.summary %>
    <%= image_tag post.image.url(:large), class: 'img-show' if post.image? %>
  </section>

  <section class="footer-summary">
    <%= raw post.tags.map(&:name).map{ |t| link_to t, tag_path(t), class: 'tag tag-primary' }.join(' ') %>
  </section>

</article>
