<h1><%= t('.allpos') %></h1>

<% if user_signed_in? && current_user.admin? %>
    <%= link_to t('.newbtn'), new_admin_post_path, class: 'btn btn-outline-primary btn-sm' %>
    <%= link_to t('.newbtnc'), new_admin_category_path, class: 'btn btn-outline-primary btn-sm' %>
    <%= link_to 'Новий анонс', new_preview_path, class: 'btn btn-outline-primary btn-sm' %>
<% end %>

<section id='posts'>
  <%= render @posts %>
</section>

<%= will_paginate @posts, renderer: 'BootstrapPaginationHelper::LinkRenderer' %>
