<!DOCTYPE html>
<html>
<head>
  <title>Game info</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <style>
    body {
    background-color: #9da8c0; }

    .container  {
      background-color: #EFEFEF;
      padding: 0 0 0 0
    }

    .footer {
      background-color: #2E2F30;
      color: #EFEFEF;
      text-align: center;
      width: 100%;
      height: 60px;
    }
      p {
        padding-top: 20px;
      }


  </style>

</head>

<body>
<div class="container">

  <nav class="navbar navbar-expand-lg navbar-width bg-dark ">
    <a class="navbar-brand" href="<%= root_path %>"><%= image_tag("logos/logo3.png", width: '60px') %></a>
    <%= link_to 'Форум', forums_path, class: 'btn btn-outline-primary btn-sm' %>
    |
    <%= link_to 'Анонси', previews_path, class: 'btn btn-outline-primary btn-sm' %>
    |
    <%= link_to 'Всі користувачі', users_path, class: 'btn btn-outline-primary btn-sm' %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" style="display:flex; justify-content: flex-end;" id="navbarNavAltMarkup">

      <ul class="navbar-nav">
        <% if user_signed_in? %>
            <li class="nav-item">
              <%=link_to "Выход", destroy_user_session_path, method:  :delete, class: "nav-link" %>
            </li>
        <% else %>
            <li class="nav-item">
              <%= link_to "Вход", new_user_session_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Регистрация", new_user_registration_path, class: "nav-link" %>
            </li>
        <% end %>
        <li class="nav-item <%= " Active" if I18n.locale == :ru %>">
          <%= link_to "Рус", {locale: :ru}, class: "nav-link" %>
        </li>
        <li class="nav-item <%= " active" if I18n.locale == :en %>">
          <%= link_to "Ang", {locale: :en}, class: "nav-link" %>
        </li>
        <li class="nav-item <%= " active" if I18n.locale == :ua %>">
          <%= link_to "Укр", {locale: :ua}, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </nav>

    <!---->

<div class="container main">
  <div class="row">
    <div class="col-md-12">
      <% flash.each do |name, message| %>
          <div class="alert <%= bootstrap_class_for(name) %>">
            <button class="close" data-dismiss="alert">&times;</button>
            <%= message %>
          </div>
      <% end %>
    </div>
  </div>

  <div class="row mh">
    <div class="col-md-3">
      <%= render 'shared/submenu' %>
    </div>
    <div class="col-md-7">
      <%= yield %>
    </div>
    <div class="col-md-2">
      <div class="tag_cloud">
        <h2><%= t('.tags') %></h2>
        <% tag_cloud(Tag.counts, %w{tag1 tag2 tag3 tag4 tag5}) do |tag, css_class| %>
            <%= link_to tag.name, tag_path(tag.name), class: css_class %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="footer">
    <p> All rights reserved 2017</p>
  </div>

  </div>
  </div>
</body>
</html>